@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Shrikhand&display=swap');

.font-shrikhand{
  font-family: 'Shrikhand', cursive !important;
}
.font-saira {
  font-family: "Saira Extra Condensed", sans-serif !important;
}
.letter-spac-0{
  letter-spacing: 0.3em;
}
.letter-spac-1{
  letter-spacing: 1em;
}
.letter-spac-2{
  letter-spacing: 1.3em;
}
.letter-spac-3{
  letter-spacing: 1.5em;
}
.letter-spac-4{
  letter-spacing: 2em;
}
.letter-spac-5{
  letter-spacing: 2.5em;
}


.fw-900{
  font-weight: 900;
}
.fw-350{
  font-weight: 350;
}