@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+TC:wght@100;200;300;400;500;600;700;800;900&family=Saira+Extra+Condensed:wght@100;200;300;400;500;600;700;800;900&family=Shrikhand&display=swap');

.font-shrikhand{
  font-family: 'Shrikhand', cursive !important;
}
.font-saira {
  font-family: "Saira Extra Condensed", sans-serif !important;
}
.letter-spac-1{
  letter-spacing: 48px;
}
.letter-spac-2{
  letter-spacing: 16px;
}

.fs-96{
  font-size: 96px;
}

.fw-900{
  font-weight: 900;
}
.fw-350{
  font-weight: 350;
}