<div class="bg-white py-10">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div class="d-flex flex-column">
                <div class="fs-5 font-shrikhand fst-italic text-black">ALPHABOX+</div>
                <p class="fw-medium text-black">Copyright © 2023 Hexschool.</p>
            </div>
            <img src="../assets/images/emergency2.png" alt="emergency" class="img-fit">

            <ul class="list-unstyled d-flex">
                <li><a href="#" class="ms-6 text-black fw-medium">聯絡我們</a></li>
                <li><a href="#" class="ms-6 text-black fw-medium">產品資訊</a></li>
                <li><a href="#" class="ms-6 text-black fw-medium">常見問題</a></li>
                <li><a href="#" class="ms-6 text-black fw-medium">隱私政策</a></li>
            </ul>

        </div>
    </div>
</div>