<div class="bg-white py-10">
    <div class="container">
        <div class="row d-flex flex-column flex-md-row justify-content-md-between align-items-md-center">
            <div class="col-5 d-flex flex-column">
                <div class="fs-5 font-shrikhand fst-italic text-black mb-2 mb-md-0">ALPHABOX+</div>
                <p class="d-none d-md-block fw-medium text-black mb-2 mb-md-0">Copyright © 2023 Hexschool.</p>
            </div>
            <div class="col-2 d-flex flex-column flex-md-row justify-content-md-center">
                <img src="../assets/images/emergency2.png" alt="emergency" class="img-fit mb-2 mb-md-0" style="width: 60px;height: 60px;">
            </div>

            <ul class="col-5 list-unstyled d-flex flex-column flex-md-row justify-content-md-end">
                <li><a href="#" class="mb-2 mb-md-0 text-black fw-medium">聯絡我們</a></li>
                <li><a href="#" class="ms-md-6 mb-2 mb-md-0 text-black fw-medium">產品資訊</a></li>
                <li><a href="#" class="ms-md-6 mb-2 mb-md-0 text-black fw-medium">常見問題</a></li>
                <li><a href="#" class="ms-md-6 mb-2 mb-md-0 text-black fw-medium">隱私政策</a></li>
            </ul>
            <p class="d-md-none fw-medium text-black mb-2 mb-md-0">Copyright © 2023 Hexschool.</p>
        </div>
    </div>
</div>