body{
  padding-top: 50px;
}
:not(.btn-check) + .btn:active{
  border-color: transparent !important;
}
.position-1{
  z-index: 999;
}
.position-lg-static {
  @media (min-width: 992px) {
    position: static !important;
  }
}

.navbar-bg {
  @include gradient-y($primary-300, $primary-800);
  @media (min-width: 992px) {
    background-image: none;
  }
}
@media(max-width:992px){
  .nav-position{
      position: absolute;
      top: 56px;
      left:0;
      z-index: 990;
    }
  }
.navbar-brand {
  font-size: 24px;
  @media (min-width: 992px) {
    font-size: 32px;
  }
}
.navbar-border {
  z-index: 5;
  box-shadow: 0px 4px 8px 0px rgba(0, 0, 0, 0.0256);
  height: 1px;
  top: 56px;
  @media (min-width: 992px) {
    top: 55px;
  }
}
