//旋轉動畫
@keyframes rotateAnimation {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }
  .rotate2 {
    animation: rotateAnimation 10s linear infinite; /* 10s 是動畫完成一次旋轉的時間*/
  }

  //最新消息
.circle{
    color: $light;
    position: absolute;
    top:-54px;
  
  }