.img-fit{
  object-fit: cover; 
}
.banner {
  background-image: url("../images/home_background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  img{
    display: block;
  }
  .alphaboxCircle {
    width: 196px;
    animation-name: rotateAnimation;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    z-index: -1;
  }
}

@keyframes rotateAnimation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.card-list{
  position: relative;
  bottom:-104px;
  z-index: 10;
  @include pad{
    bottom:0px;
  }
}
.radialToLight{
  @include radial-gradient(#28085c, #000000);
  position: absolute;
  z-index: 1;
}
.service{
  position: relative;
  z-index: 1;
.img-bg{
  position: absolute;
  background-image: url("../images/carousel_background.png");
  background-position: top left;
  background-size: 100%;
  background-repeat: no-repeat;
  top: 0;
  width: 948px;
  height: 1089px;
  z-index: -1;
  @include pad{
    background-size: cover;
  }
}
  .line-x{
    height: 40px;
    @include gradient-x(#7000FF, #11002D);
    z-index: 16;
  }
  .z-index-5{
    z-index: 5;
  }
}
.news{
  @include radial-gradient(#28085c, #000000);
  padding-top: 160px;
  @include pad{
    padding-top: 60px;
  }
  .more-rotate{
    padding-top: 130px;
    padding-bottom: 150px;
  }
  .rotate2 {
    animation: rotateAnimation 10s linear infinite; /* 10s 是動畫完成一次旋轉的時間*/
  }
  .circle{
    color: $light;
    position: absolute;
    top:-54px;
  
  }
}

.border-bottom-s{
  @media (max-width:768px){
    border-bottom: 1px solid $white;
    margin-bottom: 40px;
    padding-bottom: 40px;
  }
}

.share{
  padding-top: 160px;
  padding-bottom: 40px;
  @include radial-gradient( #000000,#28085c);
}
.contact{
  background-color: #1F0F39;
  padding-top: 144px;
  padding-bottom: 144px;
  .line-x-2{
    width: 124px;
    height: 12px;
    background-color: $white;
    border-radius: 12px;
  }
  .form-floating{
    z-index: 16;
    background: #000;
  }
}
.ai-cardList{
  .fs-m {
    font-size: 128px;
  }
  .font-saira {
    font-family: "Saira Extra Condensed" !important ;
  }
  .fs-md-l {
    @media (min-width: 768px) {
      font-size: 400px;
    }
  }
  .mb-18 {
    margin-bottom: 18px;
  }
  
  .card {
    padding: 24px 12px;
    background-color: #000;
    background-blend-mode: darken;
    background-image: url("../images/diane_vertical.png");
    background-size: cover;
    background-position: center;
    transition: all 1s;
    @media (min-width: 768px) {
      padding: 24px 40px 56px;
    }
    &:hover {
      background-color: rgb(0, 0, 0, 0.5);
    }
  }
  .card-img2{
    background-image: url("../images/felix_vertical.png");
  }
  .card-img3{
    background-image: url("../images/karina_verticalgle.png");
  }
  .card-img4{
    background-image: url("../images/vito_vertical.png");
  }
}