.index-title {
  font-size: 100px;
}
.img-fit{
  object-fit: cover; 
}
.banner {
  background-image: url("../images/home_background.png"),url("https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/circle.png?raw=true");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  img{
    display: block;
  }
  .alphaboxCircle {
    width: 196px;
    animation-name: rotate;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    z-index: -1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
