.img-fit{
  object-fit: cover; 
}
.banner {
  background-image: url("../images/home_background.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  z-index: 1;
  img{
    display: block;
  }
  .alphaboxCircle {
    width: 196px;
    animation-name: rotate;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    z-index: -1;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.card-list{
  position: relative;
  bottom:-104px;
  z-index: 10;
}

.service{
  @include radial-gradient(#28085c, #000000);
  .service-text{
    z-index: 16;
  }
  .line-x{
    height: 40px;
    @include gradient-x(#7000FF, #11002D);
    z-index: 16;
  }
}
.news{
  @include radial-gradient(#28085c, #000000);
  padding-top: 160px;
  .alphaboxCircle2{
    width: 132px;
    animation-name: rotate;
    animation-duration: 4s;
    animation-timing-function: linear;
    animation-iteration-count: infinite;
    animation-fill-mode: both;
    z-index: -1;
  }
}
.share{
  padding-top: 160px;
  padding-bottom: 160px;
  @include radial-gradient( #000000,#28085c);
}