<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>about</title>
</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="share">
      <div class="container">
        <div class="d-flex flex-column flex-md-row align-items-md-end justify-content-between mb-4">
          <h2 class="fs-4 fs-md-3 letter-spac-1 mb-4">使用分享</h2>
          <p>展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。</p>
        </div>
        <p class="md-6 mb-md-9">01——04</p>
        <img src="../assets/images/emergency.png" alt="emergency" class="mb-4 mb-md-6">

      </div>
    </div>
    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>