<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>about</title>
</head>

<body>
  <%- include('./layout/header'); -%>
  <div class="service position-relative overflow-hidden">
    <div
      class="d-none d-md-block service-text position-absolute top-20 border-bottom border-1 border-white w-100 px-3 px-md-13">
      <h3 class="fs-6 fs-md-3 mb-3 letter-spac-1">什麼是</h3>
      <h3 class="fs-6 fs-md-3 letter-spac-1 mb-4">ALPHABOX+</h3>
    </div>
    <div
      class="d-md-none service-text position-absolute top-15 border-bottom border-1 border-white w-100 px-3 px-md-13">
      <h3 class="fs-6 fs-md-3 mb-3 letter-spac-2">什麼是</h3>
      <h3 class="fs-6 fs-md-3 letter-spac-2 mb-4">ALPHABOX+</h3>
    </div>
    <div class="line-x w-100 d-none d-md-block position-absolute top-15 mb-2 px-13"></div>
    <div class="line-x d-md-none w-100 position-absolute top-5 mb-2 px-13"></div>
    <div class="container-fluid position-relative">
      <div class="img-bg">
        <div class="row align-items-center justify-content-between g-0 pt-250 pb-10">
          <!--  左箭頭  -->
          <div class="col-1 d-none d-md-block">
            <div class="swiper-button-prev">
              <img src="../assets/images/line_end_arrow_notch2.png" alt="left arrow"
                class="img-fluid rotateAnimation">
            </div>
          </div>
          <!--   Slides   -->
          <div class="col-md-9 mt-3">
            <div class="swiper mySwiper">
              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div
                    class="alphabox d-flex flex-column align-items-start align-items-md-end justify-content-end justify-content-md-center">
                    <div class="alphabox-intro">
                      <h3 class="lh-base text-md-end mb-3">
                        <span class="font-shrikhand fs-96">01</span><br>
                        <span class="alphabox-title">立體投影技術</span>
                      </h3>
                      <p class="mb-0">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div
                    class="alphabox d-flex flex-column align-items-start align-items-md-end justify-content-end justify-content-md-center">
                    <div class="alphabox-intro">
                      <h3 class="lh-base text-md-end mb-3">
                        <span class="font-shrikhand fs-96">02</span><br>
                        <span class="alphabox-title">立體投影技術</span>
                      </h3>
                      <p class="mb-0">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div
                    class="alphabox d-flex flex-column align-items-start align-items-md-end justify-content-end justify-content-md-center">
                    <div class="alphabox-intro">
                      <h3 class="lh-base text-md-end mb-3">
                        <span class="font-shrikhand fs-96">03</span><br>
                        <span class="alphabox-title">立體投影技術</span>
                      </h3>
                      <p class="mb-0">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!--  右箭頭  -->
          <div class="col-1 d-none d-md-block">
            <div class="swiper-button-next">
              <img src="../assets/images/line_end_arrow_notch2.png" alt="right arrow" class="img-fluid">
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="d-none d-md-block line-x w-100 position-absolute top-92 mt-9 mb-2"></div>
    <div class="d-md-none line-x w-100 position-absolute top-90 mt-9 mb-2"></div>
  </div>
    <%- include('./layout/footer'); -%>

      <script type="module" src="../main.js"></script>
</body>

</html>