<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>ALPHABOX</title>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.css" />
</head>

<body>
  <%- include('./layout/header'); -%>
    <div class="banner">
      <div class="pt-11 mx-3 mx-md-13 position-relative">
        <img src="https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/circle.png?raw=true"
          alt="ALPHABOX+" class="alphaboxCircle img-fluid mx-auto py-8">
        <!-- md以上顯示 -->
        <p class="d-none d-md-block pt-1 mt-11 position-absolute top-0 end-0 border-top border-1 border-white fw-bold"
          style="width: 416px;">
          ALPHABOX+ STUDIO
        </p>
        <!-- md以下顯示 -->
        <p class="d-md-none pt-1 mt-28 position-absolute top-0 end-0 border-top border-1 border-white fw-bold w-100">
          ALPHABOX+ STUDIO</p>
        <div class="d-flex justify-content-between">
          <!-- md以上顯示 -->
          <p class="d-none d-lg-inline-block pb-2 mb-11 border-bottom border-1 border-white fw-bold text-light"
            style="width: 416px;">
            最新消息！新版本 v15.4 釋出，搶先體驗！
          </p>

          <div class="d-flex flex-column position-absolute top-45 start-50 translate-middle">
            <!-- 1800以上 -->
            <h2 class="d-none d-x3l-block letter-spac-5 text-center fst-italic font-shrikhand">
              ALPHABOX+
            </h2>
            <!-- 1400以上 -->
            <h2 class="d-none d-xxl-block d-x3l-none letter-spac-3 text-center fst-italic font-shrikhand">
              ALPHABOX+
            </h2>
            <!-- lg以上 1400以下 -->
            <h2 class="d-none d-lg-block d-xxl-none letter-spac-1 text-center fst-italic font-shrikhand fs-6">
              ALPHABOX+
            </h2>
            <p class="d-none d-lg-block text-center letter-spac-1">
              擁抱未來科技，專屬您的3D立體投影陪伴機器人
            </p>
          </div>

          <div class="d-flex flex-column position-absolute top-43 start-52 translate-middle">
            <!--768以上 992以下 -->
            <h2 class="d-none d-md-block d-lg-none letter-spac-2 text-center fst-italic font-shrikhand fs-7">
              ALPHABOX+
            </h2>
            <p class="d-none d-md-block d-lg-none text-center letter-spac-1">
              擁抱未來科技，專屬您的3D立體投影陪伴機器人
            </p>
          </div>
          <div class="d-flex flex-column px-4 mx-auto mb-7">
            <!--576以上 768以下 -->
            <h2 class="d-none d-sm-block d-md-none text-center font-shrikhand fst-italic letter-spac-1 fs-7">
              ALPHABOX+
            </h2>
            <!--576以下 -->
            <h2 class="d-sm-none text-center fst-italic font-shrikhand letter-spac-1 fs-7">
              ALPHABOX+
            </h2>
            <p class="d-md-none text-center letter-spac-0">
              擁抱未來科技，專屬您的3D立體投影陪伴機器人
            </p>
          </div>
          <!-- md以上顯示 -->
          <p class="d-none d-lg-block pt-2 fw-medium letter-spac-0" style="width: 416px;">Copyright ©2023 Hexschool.
          </p>
        </div>

        <div class="card-list">
          <div class="row row-cols-md-4 row-cols-1 flex align-items-end">
            <div class="co1 mb-8 mb-md-0">
              <div class="card bg-dark text-white">
                <img src="../assets/images/diane.png" class="img-fit d-none d-md-block" alt="Diane"
                  style="height: 678px;">
                <img src="../assets/images/diane_square1.png" class="img-fit d-md-none" alt="Diane">
                <div class="card-img-overlay">
                  <h5 class="card-title text-center font-shrikhand fst-italic">Diane</h5>
                </div>
              </div>
            </div>
            <div class="co1 mb-8 mb-md-0">
              <div class="card bg-dark text-white">
                <img src="../assets/images/felix.png" class="img-fit d-none d-md-block" alt="felix"
                  style="height: 580px;">
                <img src="../assets/images/felix_square1.png" class="img-fit d-md-none" alt="felix">
                <div class="card-img-overlay">
                  <h5 class="card-title text-center font-shrikhand fst-italic">Felix</h5>
                </div>
              </div>
            </div>
            <div class="co1 mb-8 mb-md-0">
              <div class="card bg-dark text-white">
                <img src="../assets/images/karina.png" class="img-fit d-none d-md-block" alt="felix"
                  style="height: 580px;">
                <img src="../assets/images/karina_square1.png" class="img-fit d-md-none" alt="felix">
                <div class="card-img-overlay">
                  <h5 class="card-title text-center font-shrikhand fst-italic">karina</h5>
                </div>
              </div>
            </div>
            <div class="co1">
              <div class="card bg-dark text-white">
                <img src="../assets/images/vito.png" class="img-fit d-none d-md-block" alt="vito"
                  style="height: 678px;">
                <img src="../assets/images/vito_square1.png" class="img-fit d-md-none" alt="vito">
                <div class="card-img-overlay">
                  <h5 class="card-title text-center font-shrikhand fst-italic">Diane</h5>
                </div>
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>

    <div class="service pt-md-16 pb-11 radialToLight overflow-hidden">
      <div class="img-bg"></div>
      <div class="px-3 px-md-13">
        <div class="line-x w-100 mb-2"></div>
        <div class="border-bottom border-1 border-white w-100 mb-7">
          <h3 class="fs-6 fs-md-4 fs-lg-3 mb-3 letter-spac-1 fw-bold">什麼是</h3>
          <h3 class="fs-6 fs-md-4 fs-lg-3 letter-spac-1 mb-4 fw-bold">ALPHABOX+</h3>
        </div>
        <div class="container-fluid ">
          <div class="row align-items-center justify-content-between g-0 pb-7">
            <!--  左箭頭  -->
            <div class="col-1 d-none d-md-block">
              <div class="swiper-button-prev">
                <img src="../assets/images/line_end_arrow_notch2.png" alt="left arrow"
                  class="img-fluid rotateAnimation-2">
              </div>
            </div>
            <!--   Slides   -->
            <div class="col-md-9 mt-3">
              <div class="swiper mySwiper">
                <div class="swiper-wrapper">
                  <div class="swiper-slide">
                    <div
                      class="alphabox d-flex flex-column align-items-start align-items-md-end justify-content-end justify-content-md-center">
                      <div class="alphabox-intro">
                        <h3 class="lh-base text-md-end mb-3">
                          <span class="font-shrikhand fst-italic fs-96 fs-64">01</span><br>
                          <span class="fw-bold fs-md-5 fs-6">立體投影技術</span>
                        </h3>
                        <p class="mb-0 fw-bold">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div
                      class="alphabox d-flex flex-column align-items-start align-items-md-end justify-content-end justify-content-md-center">
                      <div class="alphabox-intro">
                        <h3 class="lh-base text-md-end mb-3">
                          <span class="font-shrikhand fst-italic fs-96 fs-64">02</span><br>
                          <span class="fw-bold fs-md-5 fs-6">立體投影技術</span>
                        </h3>
                        <p class="mb-0 fw-bold">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                      </div>
                    </div>
                  </div>
                  <div class="swiper-slide">
                    <div
                      class="alphabox d-flex flex-column align-items-start align-items-md-end justify-content-end justify-content-md-center">
                      <div class="alphabox-intro">
                        <h3 class="lh-base text-md-end mb-3">
                          <span class="font-shrikhand fst-italic fs-96 fs-64">03</span><br>
                          <span class="fw-bold fs-md-5 fs-6">立體投影技術</span>
                        </h3>
                        <p class="mb-0 fw-bold">透過高科技立體投影技術，讓您感受真實的科技世界。</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <!--  右箭頭  -->
            <div class="col-1 d-none d-md-block">
              <div class="swiper-button-next">
                <img src="../assets/images/line_end_arrow_notch2.png" alt="right arrow" class="img-fluid">
              </div>
            </div>
          </div>
        </div>
        <div class="line-x w-100"></div>
      </div>
    </div>

    <div class="news">
      <div class="container">
        <h2 class="fs-3 pb-7 pb-md-9 mb-7 mb-md-9 border-bottom border-1 border-white letter-spac-1 text-center-md">最新消息
        </h2>
        <div class="card bg-transparent border-bottom mb-7 mb-md-9">
          <h5 class="card-header px-0 pt-0 letter-spac-2">
            <img src="../assets/images/emergency.png" alt="" style="width: 24px;height: 24px;">
            2023.06.30
          </h5>
          <div class="card-body p-0 mb-7 mb-md-9">
            <h5 class="card-title mb-3">產品升級公告</h5>
            <div class="row">
              <div class="col-md-9">
                <p class="card-text">榮幸地宣布，ALPHABOX+
                  已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。歡迎您了解本次升級帶來的更為卓越的性能！
                </p>
              </div>
              <div class="col-md-3">
                <a href="#" class="btn-triangle">
                  <img src="../assets/images/line_end_arrow_notch1.png" alt="arrow_notch1" class="pt-3 pt-md-0">
                </a>
              </div>
            </div>
          </div>
        </div>
        <div class="border-bottom border-1 border-white pb-md-9 pb-7">
          <div class="row row-cols-1 row-cols-md-2">
            <div class="col">
              <div class="card h-100 bg-transparent border-0">
                <h5 class="card-header px-0 letter-spac-2 border-0 bg-transparent pt-0">
                  <img src="../assets/images/emergency.png" alt="emergency" style="width: 24px;height: 24px;">
                  2023.06.30
                </h5>
                <div class="card-body p-0">
                  <h5 class="card-title mb-3">限時優惠活動</h5>
                  <p class="card-text pb-3">為答謝廣大用戶的支持，本月將舉辦一場限時優惠活動。訂閱 ALPHABOX+ 的顧客，皆可享受九折優惠。機會難得，請勿錯過此良機！</p>
                </div>
                <div class="card-footer p-0 border-0 bg-transparent ">
                  <a href="#" class="btn-triangle d-none d-md-block">
                    <img src="../assets/images/line_end_arrow_notch.png" alt="arrow_notch">

                  </a>
                  <a href="#" class="d-md-none">
                    <img src="../assets/images/line_end_arrow_notch1.png" alt="arrow_notch1" class="pt-3 pt-md-0">
                  </a>
                </div>
                <div class="d-md-none border-bottom-s"></div>
              </div>
            </div>

            <div class="col">
              <div class="card h-100 bg-transparent border-0">
                <h5 class="card-header px-0 letter-spac-2 border-0 bg-transparent pt-0">
                  <img src="../assets/images/emergency.png" alt="emergency" style="width: 24px;height: 24px;">
                  2023.06.30
                </h5>
                <div class="card-body p-0">
                  <h5 class="card-title mb-3">新功能上線</h5>
                  <p class="card-text pb-3">為使您的 ALPHABOX+ 更趨完善，我們不懈地研發創新功能。近期，我們新推出智慧家居控制功能，使您的機器人能更便利地協助您操作家中各類智能設備。
                  </p>
                </div>
                <div class="card-footer p-0 border-0 bg-transparent">
                  <a href="#" class="btn-triangle d-none d-md-block">
                    <img src="../assets/images/line_end_arrow_notch.png" alt="arrow_notch">
                  </a>
                  <a href="#" class="d-md-none">
                    <img src="../assets/images/line_end_arrow_notch1.png" alt="arrow_notch1" class="pt-3 pt-md-0">
                  </a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="more-rotate">
          <a href="#" class="d-flex justify-content-center text-light position-relative">
            <p>查看更多</p>
            <img src="../assets/images/circle-2.png" alt="see more" class="circle rotate2">
          </a>
        </div>
        <div class="text-end pb-9 d-none d-md-block">為環保盡一份心力，我們的包裝盒和紙質說明書都使用環保材料</div>
      </div>
    </div>

    <div class="share overflow-x-hidden">
      <div class="container">
        <div class="d-flex flex-column flex-md-row align-items-md-end justify-content-between mb-4">
          <h2 class="fs-4 fs-md-3 letter-spac-1 mb-4">使用分享</h2>
          <p>展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。</p>
        </div>
        <p class="md-6 mb-md-9">01——04</p>
        <img src="../assets/images/emergency.png" alt="emergency" class="mb-4 mb-md-6">
        <div class="position-relative d-none d-md-block">
          <div class="swiper2 mySwiper2">
            <div class="swiper-wrapper">
              <div class="swiper-slide mb-5 w-100 w-md-50 w-lg-33">
                <div class="card bg-primary-500 p-9 h-100 me-6">
                  <div class="card-body p-0">
                    <h5 class="card-title fs-9 mb-7 fw-medium">Zona<span class="material-icons mx-1"
                        style="font-size: 8px;">
                        circle
                      </span>Taipei</h5>
                    <p class="card-text fs-9 fw-medium">ALPHABOX+
                      真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。</p>
                  </div>
                  <div class="card-footer bg-transparent border-0 d-flex align-items-center p-0">
                    <span class="material-icons me-2" style="font-size: 16px;">
                      circle
                    </span>
                    <span class="material-icons mx-2" style="font-size: 16px;">
                      circle
                    </span>
                    <p class="fs-9 mx-2">
                      ALPHABOX+ Dianne
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide mb-5 w-100 w-md-50 w-lg-33 ">
                <div class="card bg-white text-black p-9 h-100 me-6">
                  <div class="card-body p-0">
                    <h5 class="card-title fs-9 mb-7 fw-medium">Lin<span class="material-icons mx-1"
                        style="font-size: 8px;">
                        circle
                      </span>Chiayi</h5>
                    <p class="card-text fs-9 fw-medium">非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。</p>
                  </div>
                  <div class="card-footer bg-transparent border-0 d-flex align-items-center p-0">
                    <span class="material-icons me-2" style="font-size: 16px;">
                      circle
                    </span>
                    <span class="material-icons mx-2" style="font-size: 16px;">
                      circle
                    </span>
                    <p class="fs-9 mx-2">
                      ALPHABOX+ Felix
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide mb-5 w-100 w-md-50 w-lg-33">
                <div class="card bg-primary-500 p-9 h-100 me-6">
                  <div class="card-body p-0">
                    <h5 class="card-title fs-9 mb-7 fw-medium">云<span class="material-icons mx-1"
                        style="font-size: 8px;">
                        circle
                      </span>Taipei</h5>
                    <p class="card-text fs-9 fw-medium">我之前一直在找能陪伴我度過空虛時光的好夥伴，直到遇見
                      ALPHABOX+。它不僅僅是一個機器人，更像是一個真正的朋友，陪著我分享喜怒哀樂。真的很讚！</p>
                  </div>
                  <div class="card-footer bg-transparent border-0 d-flex align-items-center p-0">
                    <span class="material-icons me-2" style="font-size: 16px;">
                      circle
                    </span>
                    <span class="material-icons mx-2" style="font-size: 16px;">
                      circle
                    </span>
                    <p class="fs-9 mx-2">
                      ALPHABOX+ Dianne
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide mb-5 w-100 w-md-50 w-lg-33">
                <div class="card bg-white text-black p-9 h-100 me-6">
                  <div class="card-body p-0">
                    <h5 class="card-title fs-9 mb-7 fw-medium">Zichi<span class="material-icons mx-1"
                        style="font-size: 8px;">
                        circle
                      </span>Kaohsiung</h5>
                    <p class="card-text fs-9 fw-medium">讓我在忙碌的工作之餘，也能找到休閒的樂趣。它的互動功能非常有趣，讓我在短短的時間內就愛上了它。給它一百分！</p>
                  </div>
                  <div class="card-footer bg-transparent border-0 d-flex align-items-center p-0">
                    <span class="material-icons me-2" style="font-size: 16px;">
                      circle
                    </span>
                    <span class="material-icons mx-2" style="font-size: 16px;">
                      circle
                    </span>
                    <p class="fs-9 mx-2">
                      ALPHABOX+ Vito
                    </p>
                  </div>
                </div>
              </div>
              <div class="swiper-slide mb-5 w-100 w-md-50 w-lg-33">
                <div class="card bg-primary-500 p-9 h-100 me-6">
                  <div class="card-body p-0">
                    <h5 class="card-title fs-9 mb-7 fw-medium">Zona<span class="material-icons mx-1"
                        style="font-size: 8px;">
                        circle
                      </span>Taipei</h5>
                    <p class="card-text fs-9 fw-medium">ALPHABOX+
                      真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。</p>
                  </div>
                  <div class="card-footer bg-transparent border-0 d-flex align-items-center p-0">
                    <span class="material-icons me-2" style="font-size: 16px;">
                      circle
                    </span>
                    <span class="material-icons mx-2" style="font-size: 16px;">
                      circle
                    </span>
                    <p class="fs-9 mx-2">
                      ALPHABOX+ Dianne
                    </p>
                  </div>
                </div>
              </div>
            </div>
            <!-- <div class="swiper-button-next"></div>
            <div class="swiper-button-prev"></div> -->
            <div class="d-flex">
              <div class="swiper-scrollbar w-50 bg-white"></div>
              <div class="w-50 ms-auto ps-12">SCROLL</div>
            </div>

          </div>
        </div>
        <div class="d-md-none">
          <div class="row row-cols-1">
            <div class="col mb-5">
              <div class="card bg-primary-500 p-9 me-6" style="height: 351px;">
                <div class="card-body p-0">
                  <h5 class="card-title fs-9 mb-7 fw-medium">Zona<span class="material-icons mx-1"
                      style="font-size: 8px;">
                      circle
                    </span>Taipei</h5>
                  <p class="card-text fs-9 fw-medium">ALPHABOX+
                    真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。</p>
                </div>
                <div class="card-footer bg-transparent border-0 d-flex align-items-center p-0">
                  <span class="material-icons me-2" style="font-size: 16px;">
                    circle
                  </span>
                  <span class="material-icons mx-2" style="font-size: 16px;">
                    circle
                  </span>
                  <p class="fs-9 mx-2">
                    ALPHABOX+ Dianne
                  </p>
                </div>
              </div>
            </div>
            <div class="col mb-5">
              <div class="card bg-white text-black p-9 me-6" style="height: 351px;">
                <div class="card-body p-0">
                  <h5 class="card-title fs-9 mb-7 fw-medium">Lin<span class="material-icons mx-1"
                      style="font-size: 8px;">
                      circle
                    </span>Chiayi</h5>
                  <p class="card-text fs-9 fw-medium">非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。</p>
                </div>
                <div class="card-footer bg-transparent border-0 d-flex align-items-center p-0">
                  <span class="material-icons me-2" style="font-size: 16px;">
                    circle
                  </span>
                  <span class="material-icons mx-2" style="font-size: 16px;">
                    circle
                  </span>
                  <p class="fs-9 mx-2">
                    ALPHABOX+ Felix
                  </p>
                </div>
              </div>
            </div>
            <div class="col mb-5">
              <div class="card bg-primary-500 p-9 me-6" style="height: 351px;">
                <div class="card-body p-0">
                  <h5 class="card-title fs-9 mb-7 fw-medium">云<span class="material-icons mx-1" style="font-size: 8px;">
                      circle
                    </span>Taipei</h5>
                  <p class="card-text fs-9 fw-medium">我之前一直在找能陪伴我度過空虛時光的好夥伴，直到遇見
                    ALPHABOX+。它不僅僅是一個機器人，更像是一個真正的朋友，陪著我分享喜怒哀樂。真的很讚！</p>
                </div>
                <div class="card-footer bg-transparent border-0 d-flex align-items-center p-0">
                  <span class="material-icons me-2" style="font-size: 16px;">
                    circle
                  </span>
                  <span class="material-icons mx-2" style="font-size: 16px;">
                    circle
                  </span>
                  <p class="fs-9 mx-2">
                    ALPHABOX+ Dianne
                  </p>
                </div>
              </div>
            </div>
            <div class="col mb-5">
              <div class="card bg-white text-black p-9 me-6" style="height: 351px;">
                <div class="card-body p-0">
                  <h5 class="card-title fs-9 mb-7 fw-medium">Zichi<span class="material-icons mx-1"
                      style="font-size: 8px;">
                      circle
                    </span>Kaohsiung</h5>
                  <p class="card-text fs-9 fw-medium">讓我在忙碌的工作之餘，也能找到休閒的樂趣。它的互動功能非常有趣，讓我在短短的時間內就愛上了它。給它一百分！</p>
                </div>
                <div class="card-footer bg-transparent border-0 d-flex align-items-center p-0">
                  <span class="material-icons me-2" style="font-size: 16px;">
                    circle
                  </span>
                  <span class="material-icons mx-2" style="font-size: 16px;">
                    circle
                  </span>
                  <p class="fs-9 mx-2">
                    ALPHABOX+ Vito
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
        <p class="d-none d-md-block">若您有任何疑問或建議，歡迎隨時與我們聯絡，我們將竭誠為您解答。</p>
      </div>
    </div>
    <div class="contact">
      <div class="container">
        <div class="row row-cols-md-2 row-cols-1">
          <div class="col">
            <h2 class="fs-4 fs-md-3 letter-spac-2 mb-8">聯絡我們</h2>
            <div class="d-flex mb-11">
              <span class="material-icons me-2" style="font-size: 12px;">
                circle
              </span>
              <div class="line-x-2"></div>
            </div>
            <p>讓科技成為您的最佳夥伴</p>
            <p>立即體驗神奇功能並享限時優惠！</p>
          </div>
          <div class="col">
            <img src="../assets/images/emergency.png" alt="emergency" class="mb-5">
            <div class="form-floating mb-4">
              <input type="email" class="form-control text-black" id="email" placeholder="Email">
              <label for="email" class="fs-7 text-black">Email</label>
            </div>
            <div class="form-floating mb-4">
              <textarea class="form-control text-black" placeholder="Leave a comment here" id="comments"
                style="height: 100px"></textarea>
              <label for="comments" class="fs-7 text-black ">Comments</label>
            </div>
            <div class="text-end">
              <a class="btn bg-primary rounded-1 w-100 w-md-50 text-center fw-medium py-2 px-4" type="button" href="#">
                <i class="material-symbols-outlined align-bottom me-1">point_scan</i>
                訂閱
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="ai-cardList">
      <ol class="row list-unstyled d-flex mb-0 g-0">
        <li class="col-6 col-lg-3">
          <a href="#" class="card border-0 rounded-0">
            <h4
              class="font-shrikhand italic text-white d-flex flex-column align-items-center fs-6 fs-md-5 mb-18 mb-md-13">
              <span class="font-saira fs-m fs-md-l fw-light mb-4 mb-md-5">1</span>
              <div class="fst-italic">Diane</div>
            </h4>
            <div class="d-flex flex-column flex-xl-row align-items-xl-end justify-content-between">
              <div class="text-white">
                <h5 class="h6 fw-bold mb-0">知識型</h5>
                <p class="mb-0">學術領導/知識分享/智能問答</p>
              </div>
              <img src="https://hackmd.io/_uploads/ByjLe2_3h.png" alt="arrow" class="img-fluid">
            </div>
          </a>
        </li>
        <li class="col-6 col-lg-3">
          <a href="#" class="card card-img2 border-0 rounded-0">
            <h4
              class="font-shrikhand italic text-white d-flex flex-column align-items-center fs-6 fs-md-5 mb-18 mb-md-13">
              <span class="font-saira fs-m fs-md-l fw-light mb-4 mb-md-5">2</span>
              <div class="fst-italic">Felix</div>
            </h4>
            <div class="d-flex flex-column flex-xl-row align-items-xl-end justify-content-between">
              <div class="text-white">
                <h5 class="h6 fw-bold mb-0">情感型</h5>
                <p class="mb-0">音樂播放/語音互動/遊戲陪伴</p>
              </div>
              <img src="https://hackmd.io/_uploads/ByjLe2_3h.png" alt="arrow" class="img-fluid">
            </div>
          </a>
        </li>
        <li class="col-6 col-lg-3">
          <a href="#" class="card card-img3 border-0 rounded-0">
            <h4
              class="font-shrikhand italic text-white d-flex flex-column align-items-center fs-6 fs-md-5 mb-18 mb-md-13">
              <span class="font-saira fs-m fs-md-l fw-light mb-4 mb-md-5">3</span>
              <div class="fst-italic">Karina</div>
            </h4>
            <div class="d-flex flex-column flex-xl-row align-items-xl-end justify-content-between">
              <div class="text-white">
                <h5 class="h6 fw-bold mb-0">情感型</h5>
                <p class="mb-0">情感識別/心情分析/心靈支持</p>
              </div>
              <img src="https://hackmd.io/_uploads/ByjLe2_3h.png" alt="arrow" class="img-fluid">
            </div>
          </a>
        </li>
        <li class="col-6 col-lg-3">
          <a href="#" class="card card-img4 border-0 rounded-0">
            <h4
              class="font-Shrikhand italic text-white d-flex flex-column align-items-center fs-6 fs-md-5 mb-18 mb-md-13">
              <span class="font-Saira fs-m fs-md-l fw-light mb-4 mb-md-5">4</span>
              <div class="fst-italic">Vito</div>
            </h4>
            <div class="d-flex flex-column flex-xl-row align-items-xl-end justify-content-between">
              <div class="text-white">
                <h5 class="h6 fw-bold mb-0">情感型</h5>
                <p class="mb-0">情感識別/心情分析/心靈支持</p>
              </div>
              <img src="https://hackmd.io/_uploads/ByjLe2_3h.png" alt="arrow" class="img-fluid">
            </div>
          </a>
        </li>
      </ol>
    </div>
    <%- include('./layout/footer'); -%>

      <script src="https://cdn.jsdelivr.net/npm/swiper@10/swiper-bundle.min.js"></script>
      <script type="module" src="../assets/js/all.js"></script>
      <script type="module" src="../main.js"></script>
</body>

</html>