<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>最新消息</title>
</head>

<body>
    <%- include('./layout/header'); -%>
        <div class="news-bg py-160">
            <div class="container">
                <h2 class="fs-3 letter-spac-1 text-center mb-12 fw-900">最新消息</h2>
                <div class="card h-100 bg-transparent position-relative  mb-12">
                    <div class="row g-5">
                        <div class="col-2">
                            <p class="fs-128 text-center font-Saira">1</p>
                        </div>
                        <div class="col-md-2">
                            <img src="../assets/images/news.png" class="img-fluid h-100" alt="news">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body bg-transparent border-top border-bottom px-4 py-9">
                                <h5 class="card-header px-0 pt-0 letter-spac-2 fw-medium">
                                    <img src="../assets/images/emergency.png" alt="emergency"
                                        style="width: 24px;height: 24px;">
                                    2023.06.30
                                </h5>
                                <p class="fs-7 letter-spac-2 mb-3 fw-medium">產品升級公告</p>
                                <p class="fw-350">榮幸地宣布，ALPHABOX+ 已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。歡迎您了解本次升級帶來的更為卓越的性能！
                                </p>
                            </div>
                        </div>
                        <div class="col-2">
                            <img src="../assets/images/arrow_forward.png" alt="arrow_forward" class="position-absolute bottom-10">
                        </div>
                    </div>
                </div>
                <div class="card h-100 bg-transparent position-relative  mb-12">
                    <div class="row g-5">
                        <div class="col-2">
                            <p class="fs-128 text-center font-Saira">2</p>
                        </div>
                        <div class="col-md-2">
                            <img src="../assets/images/news.png" class="img-fluid h-100" alt="news">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body bg-transparent border-top border-bottom px-4 py-9">
                                <h5 class="card-header px-0 pt-0 letter-spac-2 fw-medium">
                                    <img src="../assets/images/emergency.png" alt="emergency"
                                        style="width: 24px;height: 24px;">
                                    2023.06.30
                                </h5>
                                <p class="fs-7 letter-spac-2 mb-3 fw-medium">產品升級公告</p>
                                <p class="fw-350">榮幸地宣布，ALPHABOX+ 已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。歡迎您了解本次升級帶來的更為卓越的性能！
                                </p>
                            </div>
                        </div>
                        <div class="col-2">
                            <img src="../assets/images/arrow_forward.png" alt="arrow_forward" class="position-absolute bottom-10">
                        </div>
                    </div>
                </div>
                <div class="card h-100 bg-transparent position-relative  mb-12">
                    <div class="row g-5">
                        <div class="col-2">
                            <p class="fs-128 text-center font-Saira">3</p>
                        </div>
                        <div class="col-md-2">
                            <img src="../assets/images/news.png" class="img-fluid h-100" alt="news">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body bg-transparent border-top border-bottom px-4 py-9">
                                <h5 class="card-header px-0 pt-0 letter-spac-2 fw-medium">
                                    <img src="../assets/images/emergency.png" alt="emergency"
                                        style="width: 24px;height: 24px;">
                                    2023.06.30
                                </h5>
                                <p class="fs-7 letter-spac-2 mb-3 fw-medium">產品升級公告</p>
                                <p class="fw-350">榮幸地宣布，ALPHABOX+ 已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。歡迎您了解本次升級帶來的更為卓越的性能！
                                </p>
                            </div>
                        </div>
                        <div class="col-2">
                            <img src="../assets/images/arrow_forward.png" alt="arrow_forward" class="position-absolute bottom-10">
                        </div>
                    </div>
                </div>
                <div class="card h-100 bg-transparent position-relative  mb-12">
                    <div class="row g-5">
                        <div class="col-2">
                            <p class="fs-128 text-center font-Saira">3</p>
                        </div>
                        <div class="col-md-2">
                            <img src="../assets/images/news.png" class="img-fluid h-100" alt="news">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body bg-transparent border-top border-bottom px-4 py-9">
                                <h5 class="card-header px-0 pt-0 letter-spac-2 fw-medium">
                                    <img src="../assets/images/emergency.png" alt="emergency"
                                        style="width: 24px;height: 24px;">
                                    2023.06.30
                                </h5>
                                <p class="fs-7 letter-spac-2 mb-3 fw-medium">產品升級公告</p>
                                <p class="fw-350">榮幸地宣布，ALPHABOX+ 已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。歡迎您了解本次升級帶來的更為卓越的性能！
                                </p>
                            </div>
                        </div>
                        <div class="col-2">
                            <img src="../assets/images/arrow_forward.png" alt="arrow_forward" class="position-absolute bottom-10">
                        </div>
                    </div>
                </div>
                <div class="card h-100 bg-transparent position-relative  mb-12">
                    <div class="row g-5">
                        <div class="col-2">
                            <p class="fs-128 text-center font-Saira">3</p>
                        </div>
                        <div class="col-md-2">
                            <img src="../assets/images/news.png" class="img-fluid h-100" alt="news">
                        </div>
                        <div class="col-md-6">
                            <div class="card-body bg-transparent border-top border-bottom px-4 py-9">
                                <h5 class="card-header px-0 pt-0 letter-spac-2 fw-medium">
                                    <img src="../assets/images/emergency.png" alt="emergency"
                                        style="width: 24px;height: 24px;">
                                    2023.06.30
                                </h5>
                                <p class="fs-7 letter-spac-2 mb-3 fw-medium">產品升級公告</p>
                                <p class="fw-350">榮幸地宣布，ALPHABOX+ 已成功完成最新一代的升級！本次升級包括提升投影解析度、優化語音辨識技術，以及擴充情感識別功能。歡迎您了解本次升級帶來的更為卓越的性能！
                                </p>
                            </div>
                        </div>
                        <div class="col-2">
                            <img src="../assets/images/arrow_forward.png" alt="arrow_forward" class="position-absolute bottom-10">
                        </div>
                    </div>
                </div>
                <ul class="pagination justify-content-center">
                    <li class="page-item"><a class="page-link bg-transparent border-0 text-white" href="#">1</a></li>
                    <li class="page-item"><a class="page-link bg-transparent border-0 text-white" href="#">2</a></li>
                    <li class="page-item"><a class="page-link bg-transparent border-0 text-white" href="#">3</a></li>
                  </ul>
            </div>

            <%- include('./layout/footer'); -%>


                <script type="module" src="../main.js"></script>
</body>

</html>